@tailwind base;
@tailwind components;
@tailwind utilities;

#heading1{
    text-align: left;
    margin-left: 100px;
body {
  background: #f9f9fa !important;
  font-family: 'Poppins', sans-serif;
}

#login {
  background-color: white;
}

.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}

.card{
  border-radius: 10px !important;
}